@media only screen and  (max-width: 1900px) and (min-width: 1081px) {
    main {
        display: flex;
        justify-content: left;
    }
    h1{
        font-size: 32px;
        font-family: var(--primary_font);
    }
    
    h2{
        font-size: 24px;
        font-family: var(--primary_font);
    }
    
    p{
        font-size: 18px;
        font-family: var(--secondary_font);
    }

    .All-info{
        display: flex;
        flex-direction: column;
        padding: 0 0;
        width: 768px;
        display: flex;
        margin: 0 0 0 100px;
    }

    .All-info hr{
        height: 2px;
        color: white;
        background-color: black;
        width: 100%;
    }

    .account-info{
        display: flex;
        flex-direction: column; 
    }

    .profile-image-container img{
        width: 130px;
        height: 130px;
    }

    .profile-text-container {
        margin: 26px 0 0 0;
        gap: 0;
    }

    .All-info label{
        font-size: 24px;
    }

    .All-info input{
        font-size: 18px;
        height: 50px;
    }

    .save-changes-button{
        margin-top: 30px;
    }

    .save-changes{
        width: 160px;
        height: 50px;
        font-size: 18px;
    }

}